@import '../../bower_components/bootstrap/less/bootstrap';
@import '../../bower_components/toastr/toastr';
@import (less) '../../bower_components/magnific-popup/dist/magnific-popup.css';
@import (less) '../../bower_components/csshake/dist/csshake.min.css';

/*
 * Bootstrap overrides.
 */
@body-bg: #000000;
@text-color: White;
@font-family-base: Walsheim-Black,'Arial Black',sans-serif;


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 220px;
  -webkit-font-smoothing: antialiased;
}



body {
  background-image: url(/img/background.jpg);
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  text-align: center;
  color: #ef6c0f;
}


table.taps th{
  text-align: center;
  color: #ef6c0f;
}





div.keg,
div.srm,
div.ibu,
div.abv {
  text-align: center;
  width: 125px;
  vertical-align: middle;
}

.style, 
.notes {
  color: #A0A0A0;
}

.notes h1 {
  color: White;
}

.extra-info {
  color: #606060;
}

.tapcircle {
  text-align: center;
  white-space: nowrap;
  font-size: @font-size-h3;
  background-color: rgba(153,153,153,.3);
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  width: 125px;
  height: 125px;
  line-height: 125px;
}

.notes-empty {
  text-align: center;
  vertical-align: middle;
  height: 125px;
  line-height: 125px;
}




.srm-container, .srm-indicator, .srm-stroke {
  width: 55px;
  height: 100px;
}

.srm-container {
    position: relative;
    margin: 0 auto;
}

.srm-indicator, .srm-stroke {
  position: absolute;
  top: 0;
  left: 0;
}

.srm-indicator {
  z-index: 1;
  -webkit-mask-image: url(/img/srm/pint-mask.png);
  -o-mask-image: url(/img/srm/pint-mask.png);
  -moz-mask-image: url(/img/srm/pint-mask.png);
  mask-image: url(/img/srm/pint-mask.png);
}

.srm-stroke {
  z-index: 2;
  background: url(/img/srm/pint-stroke.png);
  background-size: cover;
}




.ibu-container, .ibu-indicator, .ibu-full {
  width: 55px;
  height: 100px;
}

.ibu-indicator, .ibu-full {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ibu-container {
    position: relative;
    margin: 0 auto; 
}

.ibu-indicator {
    background: url(/img/ibu/stroke.png) no-repeat bottom left;
}

.ibu-full {
    background: url(/img/ibu/full.png) no-repeat bottom left;
}


.abv-container, .abv-full {
  height: 100px;
  width: 115px;
}

.abv-container{
        position: relative;
        margin: 8px auto;
}

.abv-cups {
  height: 100px;
}

.abv-indicator{
        display: inline-block;
        position: relative;
        height:100%;
        width:50%;
        background: url(/img/abv/stroke.png) no-repeat bottom left;
}
.abv-full{
        position: absolute;
        bottom: 0;
        left: 0;
        background: url(/img/abv/full.png) no-repeat bottom left;
}
.abv-offthechart{
        position: absolute;
        bottom: -2px;
        left: 8px;
        height: 55px;
        width: 114px;
        background: url(/img/abv/offthechart.png) no-repeat bottom left;
}


.keg-container {
    position: relative;
    height: 100px;
    width: 67px;
    margin: 8px auto;
}

.keg-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(/img/keg/stroke.png) no-repeat bottom left;
}

.keg-full{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: url(/img/keg/full.png) no-repeat bottom left;
}
.keg-indicator .keg-empty{
        background-image: url(/img/keg/empty.png);
}
.keg-indicator .keg-red{
        background-image: url(/img/keg/red.png);
}
.keg-indicator .keg-orange{
        background-image: url(/img/keg/orange.png);
}
.keg-indicator .keg-yellow{
        background-image: url(/img/keg/yellow.png);
}
.keg-indicator .keg-green{
        background-image: url(/img/keg/green.png);
}


tbody.even > tr {
  background-color: rgba(255,255,255,.1);
}
table.no-border tr td, table.no-border tr th {
  border-width: 0;
}


.table > tbody > tr > td.tap,
.table > tbody > tr > td.srm,
.table > tbody > tr > td.ibu,
.table > tbody > tr > td.abv,
.table > tbody > tr > td.qty {
  vertical-align: middle;
}

.table > tbody > tr > td.tap > div,
.table > tbody > tr > td.srm > div,
.table > tbody > tr > td.ibu > div,
.table > tbody > tr > td.abv > div,
.table > tbody > tr > td.qty > div {
  margin: auto;
}


div.headerCenter {
    text-align: center; 
}

div.headerCenter h1 {
    font-size: 50px;
    font-family: Walsheim-Bold,'Arial Black',sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #77c043;
}


/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  
  
  .tapcircle {
    width: 100%;
    height: 75px;
    line-height: 75px;
  }


}




